/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end reset CSS */


/* common setting */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

td {
    background-color: #F6EBE7;
}


    td img {
        display: block;
    }


.textbox{
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    font-family: 'Microsoft JhengHei';
    width:90%;
    max-width:1080px;
    background:#fff;
}

.textbox option{
    width:100%;
}
.background{
    max-width:1080px;
    margin:auto auto;
    width:100%;
    background:#f9f8f8;
}
.background .logo{
    max-width:200px;
    position:absolute;
}
.background img{
    max-width:100%;
    margin:auto auto;

}
input,select{
    border:1px solid #3cc3bf;
    margin:10px;
    color:#333333;
}
input,
select,
textarea,
button {
  padding: 4px;
  width: 100%;
  height: 2em;
  -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}
#checkbox-1{
    display:inline;
    width:35px;
    border: 1px solid #3cc3bf;
}
.terms{
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    width:90%;
    text-align:left;
    display:table;
    margin:1% 0px;
}
.ui-widget{
    display:table-cell;
    vertical-align:middle;
}
#submit{
    width:80%;
    background:#3cc3bf;
    color:#fff;
    border:none;
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    font-family: 'Microsoft JhengHei';
    max-width:500px;
    margin-top:10px;
}

/*datepicker*/
div.ui-datepicker{
 font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
}
.datePicker{
    position:relative;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid #3cc3bf;
  position:absolute;
  right:5%;
  top:40%;
}

/*generic style*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333333;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333333;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #333333;
}
select{
      appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* Specific checkbox widget styles */
.checkbox{
    width:auto;
}
.ui-checkbox {
    font-size: 0.75em;
    margin: 0.6em;
}

/* end css in form */
