/* reset CSS */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
     font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    scroll-behavior: smooth;
    color:#524a52;
    font-weight:300;
    letter-spacing: 2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
   font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
    letter-spacing: 2px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
a,a:hover,a:focus{
    color:#524a52;
}
/* end reset CSS */


/* common setting */
body {
    font-size: 12px;
}

td {
    background-color: #F6EBE7;
}

p{
    margin:3px 0px;
}
    td img {
        display: block;
    }
h1{
    font-size: 30px;
    color: #3cc3bf;
    background: #fff;
    z-index: 99;
    display: block;
    height: 65px;
    width: 100%;
}
.flex-container {
  display: block;
    width: 98%;
}

.flex-container > div {
  width: 48%;
  display:inline-block;
}
.flex-container > div .textbox{
    margin:0;
}
.textbox{
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    width:90%;
    max-width:1080px;
    background:transparent;
    border-radius:10px;
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    z-index:99;
    font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
    color:#524a52;
    letter-spacing: 2px;
}

.textbox option{
    width:100%;
}
.background{
    max-width:1080px;
    margin:auto auto;
    width:100%;
    background:#b8e6e1; 
    margin-top:0;
    margin-bottom:0;
}
.background .logo{
    max-width:115px;
    position:absolute;
    padding:5px;
}
.background img{
    max-width:100%;
    margin:auto auto;

}
input,select{
    border:1px solid #3cc3bf;
    margin:10px;
    color:#333333;
}
input,
select,
textarea,
button {
  padding: 4px;
  width: 100%;
  height: 2em;
  -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}
input[type="checkbox"]{
    display:inline;
    width:30px;
    border: 1px solid #3cc3bf;
    height:1.5em;
    margin: .4em;
}
.displaynone{
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  display:none;
}
.terms{
    font-size: calc((.3em + .6vmin) + (.3em + .7vmax));
    width:90%;
    text-align:left;
    display:table;
    margin:1% 0;
    padding:0;
      font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
    letter-spacing: 2px;
}
.points{
    text-align:left;
    padding:1% 5%;
    line-height:15px;
   font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
    font-size: calc((.3em + .3vmin) + (.3em + .3vmax));
    letter-spacing: 2px;
}
.terms .ui-widget{
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    width:100%;
    font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
    letter-spacing: 2px;
}
#submit{
    width:35%;
    background:#00afaa;
    color:#fff;
    border:none;
    font-size: calc((.5em + 1vmin) + (.5em + 1vmax));
    font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
    max-width:500px;
    margin-bottom:30px;
    border-radius:20px;
    text-align:center;
    padding:1% 6%;
    letter-spacing: 2px;
}

/*datepicker*/
#shop,#datepicker{
    background-image: url('/0918/images/sort-down.png');
    background-repeat: no-repeat;
    background-position: 97% 40%; 
    background-size: 30px 30px;
    letter-spacing: 2px;
    font-family:   -apple-system, PingFang SC, 'Noto Sans TC',Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
    font-weight:300;
}
div.ui-datepicker{
 font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
}
.datePicker{
    position:relative;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.55em solid #3cc3bf;
  position:absolute;
  right:5%;
  top:40%;
  z-index: 0;
}

/*generic style*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #524a52;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #524a52;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #524a52;
}
:-moz-placeholder { /* Firefox 18- */
  color: #524a52;
}
select{
      appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* Specific checkbox widget styles */
.checkbox{
    width:auto;
}
.ui-checkbox {
    font-size: 0.7em;
    margin:0;
    padding:0;
}
.error {
    background-color: #F7FFB5;
}
#jump{
    position:fixed;
    bottom:10px;
    right:10px;
    padding: 10px;
    display:block;
    background-color: #3cc3bf;
    color:#fff;
    border-radius: 5px;
    z-index:1000;
    text-decoration: none;
    font-size: calc((.4em + .4vmin) + (.4em + .4vmax));
}
@media only screen and (max-width: 600px) {
    .terms {
    font-size: calc((.3em + .4vmin) + (.3em + .4vmax));
    width: 90%;
    text-align: left;
    display: table;
    margin: 1% 0;
    padding: 0;
}
}
/* end css in form */
